@page "/create"

<PageTitle>Edit</PageTitle>
<MudText>Create storage page</MudText>
<MudForm @bind-IsValid="@success">
    <MudTextField T="string" Label="Storage name" Required="true" RequiredError="storage name is required!" @bind-value="storageName"/>
    <MudTextField T="double" Label="Value" @bind-Value="storageValue"/>
    <div class="d-flex align-center justify-space-between">
        <MudCheckBox T="bool" Required="true" RequiredError="You must agree!" Label="Agree" />
        <MudButton Href="/" OnClick="CreateStorage" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="m1-auto">Create</MudButton>
    </div>
</MudForm>

@code{
    private string? storageName;
    private double storageValue;
    static HttpClient httpClient = new HttpClient();
    bool success;

    private async void CreateStorage()
    {
        var createData = new StorageCreateDTO() { Name = storageName, Value = storageValue };
        await httpClient.PostAsJsonAsync("http://localhost:5220/api/Storage/", createData);
    }
}