@page "/categories/create"

<PageTitle>Create</PageTitle>
<MudText>Create categories page</MudText>
<MudForm @bind-IsValid="@success">
    <MudTextField T="string" Label="Name" Required="true" RequiredError="Name is required!" @bind-value="name" />
    <MudTextField T="string" Label="Description" @bind-Value="description" />
    <MudSwitch @bind-Value="@isIncome" Color="Color.Success" UnCheckedColor="Color.Error" Label="IsIncome" />
    <div class="d-flex align-center justify-space-between">
        <MudCheckBox T="bool" Required="true" RequiredError="You must agree!" Label="Agree" />
        <MudButton Href="/" OnClick="CreateButtonClick" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="m1-auto">Create</MudButton>
    </div>
</MudForm>

@code {
    private string name = "";
    private string description = "";
    private bool isIncome;
    static HttpClient httpClient = new HttpClient();
    bool success;

    private async void CreateButtonClick()
    {
        var createData = new CategoryCreateDTO() { Name = name, Description = description, IsIncome = isIncome};
        await httpClient.PostAsJsonAsync("http://localhost:5220/api/category/", createData);
    }
}