@page "/transactions/create"

<PageTitle>Create</PageTitle>
<MudText>Create transaction page</MudText>
<MudForm @bind-IsValid="@success">
    <MudTextField T="string" Label="Name" Required="true" RequiredError="Name is required!" @bind-value="Name" />
    <MudTextField T="string" Label="Description" @bind-Value="description" />

    <div class="d-flex align-center justify-space-between">
        <MudCheckBox T="bool" Required="true" RequiredError="You must agree!" Label="Agree" />
        <MudButton Href="/" OnClick="CreateStorage" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="m1-auto">Create</MudButton>
    </div>
</MudForm>

@code {
    private string Name = "";
    private string description = "";
    private bool IsIncome;
    static HttpClient httpClient = new HttpClient();
    bool success;

    private async void CreateStorage()
    {
        var createData = new TransactionCreateDTO() { Name = Name, Description = description};
        await httpClient.PostAsJsonAsync("http://localhost:5220/api/category/", createData);
    }
}